
.nav h1{
    color: var(--s-colour);
    text-align: center;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--p-colour);
    color: var(--s-colour);
}

/* Navigation */
.navigation{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--p2-colour);
    height: 7vh;
}

.logo{
    font-size: x-large;
    margin: 0.5rem;
}

.navigation-links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.navigation-links li{
    list-style: none;
}

.navigation-links li a{
    text-decoration: none;
    color: var(--s-colour);
    padding: 1rem;
    display: block;
}

.navigation-links li:hover{
    background-color: var(--p-colour);
}

.dropdown{
    position: absolute;
    top: 0.80rem;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 35px;
}

.dropdown .list{
    height: 4px;
    width: 100%;
    background-color: var(--p-colour);
    border-radius: 15px;
}

@media (max-width: 600px) {
    .dropdown{
        display: flex;
    }

    .navigation-links{
        display: none;
        width: 100%;
    }

    .navigation{
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-links ul{
        flex-direction: column;
        width: 100%;

    }

    .navigation-links li{
        text-align: center;
    }

    .navigation-links li a{
        padding: 0.5rem, 1rem;
    }

    .navigation-links.active {
        display: flex;
    }

}

/* Login Page */
.Login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c0a3ff;
    border-radius: 5px;
}

.Login h1{
    text-align: center;
    padding: 10%;
    border-bottom: 3px solid #f1defe;
}

.Login form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .email_password{
    position: relative;
    border-bottom: 3px solid  #f1defe;
    margin: 25px 0;
}

.email_password input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}

.email_password label{
    position: absolute;
    top: 30%;
    left: 3px;
    font-size: 15px;
    pointer-events: none;
    transition: .7s;
}

.email_password span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #f1defe;
}

.email_password input:focus ~ label,
.email_password input:valid ~ label {
    top: -10px;
    color: #f1defe;
}

input[type="submit"] {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: #f1defe;
    border-radius: 25px;
}

input[type="submit"]:hover {
    border-color: #f1defe;
    transition: .7s;
}

.register{
   margin: 30px; 
   text-align: center;
}

/* Register Page */
.Register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c0a3ff;
    border-radius: 5px;
}

.Register h1{
    text-align: center;
    padding: 10%;
    border-bottom: 3px solid #f1defe;
}

.Register form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .register_text{
    position: relative;
    border-bottom: 3px solid  #f1defe;
    margin: 25px 0;
}

.register_text input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}

.register_text label{
    position: absolute;
    top: 30%;
    left: 3px;
    font-size: 15px;
    pointer-events: none;
    transition: .7s;
}

.register_text span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #f1defe;
}

.register_text input:focus ~ label,
.register_text input:valid ~ label {
    top: -10px;
    color: #f1defe;
}

input[type="submit"] {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: #f1defe;
    border-radius: 25px;
}

input[type="submit"]:hover {
    border-color: #f1defe;
    transition: .7s;
}

.header {
    text-align: center;
}


.contactus{
    width: 250px;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    background: #c0a3ff ;
}

.title h1 {
    margin-bottom: 25px;
    text-align: center;
    text-align: center;
    
}

.credentials {
    width: 100%;

}

.credentials .input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eae8ead9;
    border: 0;
    outline: none;
    border-radius: 30px;
    resize: none;

}

.button {
    background: #d3b7ff;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}




.container {
    display: flex;
    flex-direction: row;
    padding-left: 225px;
}

.ourinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container2 {
    display: flex;
    flex-direction: row;
    padding-left: 225px;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header2 {
    padding-top: 150px;
    text-align: center;

}

.container3 {
    display: flex;
    flex-direction: row;
    padding-left: 225px;
}

.team1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* About Us CSS */

*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.about-us{
    background-color: #d3b7ff;
    text-align: center;
}

.header{
    width: 100%;
    height: 10vh;
    color: black;
}

.header2{
    width: 100%;
    height: 10vh;
}

.container1{
    padding-top: 150px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    background: #d3b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    box-sizing: border-box;
}

.team img{
    width: 150px;
    height: 150px;
    background: transparent;
}

.body{
    background: transparent;
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.role{
    color: white;
}

/* Admin CSS */

.table {
    width: 100%;
}

.form-group{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


/*Dark Mode */

#darkmode{
    color: var(--s-colour);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    }
    
    
:root{
    --p-colour: #ffffff;
    --s-colour: #1f1d1d;
    --p2-colour: purple;   
}

.moon{
    --p-colour: #1f1d1d;
    --s-colour: #eaf0fd; 
    --p2-colour: grey;   
}


