
.nav h1{
    color: var(--s-colour);
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.nav h4{
    color: var(--s-colour);
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.nav h3{
    color: var(--s-colour);
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.nav h2{
    color: var(--s-colour);
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.search-bar{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    
}



.footer-main {

    
    color: var(--p3-colour);
    margin-top: 10px;
    padding-top: 10px;
    background-color: var(--p2-colour);
    width: 100%;
}

/*Footer, Feysal's changes: */
/*
.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    transition: .2s;
}

.footer-main .col {
    padding: 10px;
    
    display: flex;
   /* flex-direction: column;
    */ /*align-items: flex-start;
}
*/

.fcol{
    flex: 1;
    margin-right: 20px;
  }

  .site-footer .row{
    display: flex;
    flex-wrap: wrap;
  }

.site-footer
{
background-color:/*#26272b*/ var(--p2-colour);
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:/*#737373*/ var(--s-colour);
}
.site-footer hr
{
border-top-color:/*#bbb*/var(--p5-colour);
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:/*#fff*/var(--s-colour);
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:/*#737373*/ var(--s-colour)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:/*#F4B301*/var(--p5-colour);
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:/*#33353d*/ var(--p2-colour)
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}



/* Index, Feysal's changes: */
.list-group{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

ul.list-group{
    display: flex;
    flex-wrap: wrap;
}

ul.ist-group li{
    flex-basis: (33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

ul.list-group img{
    border-radius: 20px;
}

@media (max-width: 767px) {
    ul.ist-group li{
        flex-basis: (50% - 10px);
    }
}

/* Products page, Feysal's changes:*/

.col-sm-9{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}



@media (max-width: 767px) {
    .card{
        flex-basis: calc(50% - 10px);
    }
}

/* Navigation */
.navigation{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--p2-colour);
    height: 7vh;
    transition: .2s;
}

.logo{
    font-size: x-large;
    margin: 0.5rem;
}

.navigation-links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.navigation-links li{
    list-style: none;
}

.navigation-links li a{
    text-decoration: none;
    color: var(--s-colour);
    padding: 1rem;
    display: block;
}

.navigation-links li:hover{
    background-color: var(--p-colour);
}

.dropdown{
    position: absolute;
    top: 0.80rem;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 35px;
}

.dropdown .list{
    height: 4px;
    width: 100%;
    background-color: var(--p-colour);
    border-radius: 15px;
}

@media (max-width: 600px) {
    .dropdown{
        display: flex;
    }

    .navigation-links{
        display: none;
        width: 100%;
    }

    .navigation{
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-links ul{
        flex-direction: column;
        width: 100%;

    }

    .navigation-links li{
        text-align: center;
    }

    .navigation-links li a{
        padding: 0.5rem, 1rem;
    }

    .navigation-links.active {
        display: flex;
    }

}

/* Login Page */
.Login{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */background: var(--p2-colour);
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 200px;
    
}

.Login h1{
    text-align: center;
    padding: 10%;
    border-bottom: 3px solid var(--s-colour);
}

.Login form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .email_password{
    position: relative;
    border-bottom: 3px solid  var(--p1-colour);
    margin: 25px 0;
}

.email_password input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}

.email_password label{
    position: absolute;
    top: 30%;
    left: 3px;
    font-size: 15px;
    pointer-events: none;
    transition: .7s;
}

.email_password span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #f1defe;
}

.email_password input:focus ~ label,
.email_password input:valid ~ label {
    top: -10px;
    color: #f1defe;
}

input[type="submit"] {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: var(--p-colour);
    border-radius: 25px;
}

input[type="submit"]:hover {
    border-color: var(--p-colour);
    transition: .7s;
}

.register{
   margin: 30px; 
   text-align: center;
}

/* Register Page */
.Register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--p2-colour);
    border-radius: 5px;
}

.Register h1{
    text-align: center;
    padding: 10%;
    border-bottom: 3px solid var(--p4-colour);
}

.Register form{
    padding: 0 30px;
    box-sizing: border-box;
    color: var(--p4-colour);
}

form .register_text{
    position: relative;
    border-bottom: 3px solid  var(--p4-colour);
    margin: 25px 0;
}

.register_text input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    color: var(--p4-colour);
}

.register_text label{
    position: absolute;
    top: 30%;
    left: 3px;
    font-size: 15px;
    pointer-events: none;
    transition: .7s;
}

.register_text span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--p4-colour);
}

.register_text input:focus ~ label,
.register_text input:valid ~ label {
    top: -10px;
    color: var(--p4-colour);
}

input[type="submit"] {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: var(--p2-colour);
    border-radius: 25px;
}

input[type="submit"]:hover {
    border-color: var(--p2-colour);
    transition: .7s;
}

/* Contact Us CSS */

.contactus{
    
    width: 500px;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
    background: var(--p2-colour) ;
    
}

.title h1 {
    margin-bottom: 25px;
    text-align: center;
    text-align: center;
    
}

.credentials {
    width: 100%;

}

.credentials .input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: var(--p-colour);
    border: 0;
    outline: none;
    border-radius: 30px;
    resize: none;

}

.button {
    background: var(--p-colour);
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: var(--p-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .2s;
}

.info{
    margin: 20px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    box-sizing: border-box;
}

.info1{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--s-colour)
}

.info2{
    color: var(--s-colour);
}

.info img{
    width: 25px;
    height: 25px;
}


/* About Us CSS */

*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--s-colour);
}


.about-us{
    background-color: var(--p-colour);
    text-align: center;
    transition: .2s;
}

.header{
    width: 100%;
    height: 10vh;
    color: var(--s-colour);
}

.header2{
    width: 100%;
    height: 10vh;
}

.container1{
    padding-top: 150px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    background: var(--p-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .2s;
}

.team{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    box-sizing: border-box;
}

.team img{
    width: 150px;
    height: 150px;
    background: transparent;
}

.body{
    background: transparent;
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--s-colour);
}

.role{
    color: var(--s-colour);
}
/* Cart page */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
body {
	background: var(--p-colour);
    transition: .2s;

}
/* .wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
  */

/* .list-items{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;

}
.link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 13px;
    transition: 0.4s;
  }
.link:hover {
    color: #4bb19b;
  }

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu-item{
    margin: 2rem;
    cursor: pointer;
    font-weight: 600;
} */



.shop {
    display: flex;
    height: 100vh;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    padding: 2rem;
    align-items: flex-start;
}

table {
    position: relative;
    width: 100%;
    
}

th,
td {
    text-align: left;
    padding: 0.5rem;
}

th {
    font-weight: bold;
}


.total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}


.total span {
    font-size: 1.2rem;
    font-weight: bold;
}
 
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .empty-cart {
    margin-top: 25rem;
	text-align: center;
    font-size: x-large;
}
  

/* .btn-area {
	height: 2.5rem;
	width: 7rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	justify-content: center;
	padding: 10px 25px;
	background-color: #3a71a9;
	color: white;
	cursor: pointer;
	border-radius: 5px;
} */
/* .btn-area:hover {
	background-color: #76bfb6;
	color: #fff;
	font-weight: 600;
}
.unit input {
	width: 40px;
	padding: 5px;
	text-align: center;
}
.btn-area i {
	margin-right: 5px;
}
.right-bar {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 	margin-left: 20px;
	padding: 20px;
	width: 25%;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
	margin-bottom: 25px;
}
.right-bar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.right-bar a {
	background-color: #76bfb6;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
}
.right-bar i {
	margin-right: 15px;
}

.right-bar a:hover {
	background-color: #3972a7 
}
     */


/* Admin CSS */


.table {
    width: 100%;
}

.form-control{
    color: var(--p4-colour);
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.indexRow{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding: 5px 5px;
    box-sizing: border-box;
}

.row{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.card-body1{
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   width: 8em;
}

.card{
    width: 23%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--p5-colour);
    border-radius: 25px;
    transition: .2s;
    position: relative;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    background-color: var(--p2-colour);
 }

.card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.card img {
    border-radius: 20px;
}


/*Dark Mode */

#darkmode{
color: var(--s-colour);

padding: 16px;

cursor: pointer;
    }
    
    
:root{
    --p-colour: #E7D5AD; /*Nav-select*/
    --p1-colour: #FED154; /*Background*/
    --s-colour: #3A3B3D; /* text*/
    --p2-colour: #FED154;   /*Footer*/
    --p3-colour: #F6F6F9;
    --p4-colour: #3A3B3D;
    --p5-colour: #271A52; 
}

.moon{
    --p-colour: #1f1d1d;
    --s-colour: #eaf0fd; 
    --p2-colour: #271A52;  
    --p1-colour: #1D1E42; 
    --p3-colour: #F6F6F9; 
    --p4-colour: #1f1d1d;
    --p5-colour: #FED154;
}


