<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <title> Adminpage </title>
</head>

<body>
    <section class="nav-space">
    <nav class="navigation">
        <img class="logo" src=\media\lightLogo.png/>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li><a th:href="@{/admin/adminHome}">Admin-Home</a></li>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
                <form th:action="@{/logout}" method="post">
                    <input class="log-out" type="submit" value="Logout!" />
                </form>
            </ul>
        </div>
    </nav>
    </section>
    <div class="admin-addproduct-container">
        <h1>Add New Product</h1>
        <form class="admin-addproduct-form" th:action="@{/admin/addproduct}" method="post" th:object="${productDTO}" enctype="multipart/form-data">

            <input type="hidden" name="id" th:field="*{id}">
            <div class="admin-addproduct-input-box">
                <label class="admin-addproduct-label" for="name">Name</label>
                <input type="text" class="admin-addproduct-input" required th:field="*{name}" name="name" id="name" placeholder="Enter name">

            </div>
            <div class="admin-addproduct-input-box">
                <label class="admin-addproduct-label" for="category">Select Category</label>
                <select class="admin-addproduct-custom-select" th:field="*{categoryId}" id="category" name="category">
                <option th:each="category :${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"
                >
            </select>
            </div>
            <div class="admin-addproduct-input-box">
                <label class="admin-addproduct-label" for="price">Price</label>
                <input type="number" class="admin-addproduct-input" required th:field="*{price}" name="price" id="price" placeholder="Price">
            </div>
            <div class="admin-addproduct-input-box">
                <label class="admin-addproduct-label" for="stock">Stock</label>
                <input type="number" class="admin-addproduct-input" required th:field="*{stock}" name="stock" id="stock" placeholder="Stock">
            </div>
            <div class="admin-addproduct-input-box">
                <label class="admin-addproduct-label" for="description">Product Description</label>
                <textarea class="admin-addproduct-textarea" rows="5" th:field="*{description}" name="description" id="description"></textarea>
            </div>
            <div class="admin-addproduct-custom-file admin-addproduct-input-box">
                <label class="custom-file-label admin-addproduct-label" for="media">Product Image</label>
                <input type="file" class="admin-addproduct-custom-file-input" name="media" accept="image/jpeg, image/png" id="media" />
                
            </div>
            <div class="admin-addproduct-input-box">
                <!-- <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/media/' + productDTO.img}}" style="margin-top: 20px" alt=" "> -->
            </div>
            <div class="admin-addproduct-input-box">
            <input type="hidden" name="imgName" th:value="${productDTO.img}">
            <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var r = new FileReader();
                r.onload = function(e) {
                    $('#imgPreview').attr('src', e.target.result).width(100).height(100);
                }
                r.readAsDataURL(input.files[0])
            }
        }
        $('#media').change(function() {
            readURL(this);
        });
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


</body>

<footer class="site-footer">
    <div class="fcontainer">
      <div class="row">
        <div class="fcol">
          <h6>About</h6>
          <p class="text-justify">We are a group of 10 university students who have come together to make this e-commerce website!
This website has been made for those who love music! We offer products such as
headphones, speakers and much more.</p>
        </div>

        <div class="fcol">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/aboutus}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/cart}">View Cart</a></li>
          </ul>
        </div>

        <div class="fcol">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><p>If you have any queries or any unanswered questions - please contact us on:</p></li>
            <li><strong>Phone Number:</strong> 07362837201</p></li>
            <li><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p></li>
            <li><strong>Store Address:</strong> 64 Harrington Lane</p></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>


    <div class="fcontainer">
      <div class="row">
        <div class="fcol1">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Soundwaves</a>.
          </p>
        </div>

        <div class="fcol1">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-github"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</html>