<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <title> Admin UserView Page </title>
</head>

<body>
    <nav class="navigation">
        <div class="logo">Soundwaves</div>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li><a th:href="@{/admin/adminHome}">Admin-Home</a></li>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout!" />
                </form>
            </ul>
        </div>
    </nav>



    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Firstname</th>
            <th scope="col">Surname</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
        </tr>

        <tr th:each="user, iStat : ${users}">
            <th scope="row" th:text="${iStat.index + 1}"></th>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstname}"></td>    
            <td th:text="${user.surname}"></td> 
            <td th:text="${user.username}"></td> 
            <td th:text="${user.role}"></td> 
        </tr>

    </table>

    <i class="fa fa-sun-o" style="font-size:50px" id="darkmode"></i>



</body>

</html>