<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <title> Homepage </title>
</head>

<body>
    <section class="nav-space">
    <nav class="navigation">
        <img class="logo" src=\media\lightLogo.png/>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/aboutus}">About us</a></li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/wishlist}">Wishlist</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/cart}">Cart</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <span th:text="${cartNo}">0</span>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()"> 
                        <a th:href="@{/login}">Login</a>
                    </div>
                </li>
                <li> 
                    <div sec:authorize="isAuthenticated()"> 
                      <a th:href="@{/userPage}">My Account</a> 
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <form th:action="@{/logout}" method="post"> 
                            <input class="log-out" type="submit" value="Logout!"/>
                        </form>  
                    </div>
                </li>
                <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
            </ul>
        </div>
    </nav>
    </section>

<head>
    <title>About Us</title>
</head>

<body>
    <section class="about-head">
        <div id="about-us" class="banner-container">
            <div class="banner-image">
                <img src="/media/HomeBackground.jpg" alt="">
            </div>
            <div class="banner-text">
                <h2>Who We Are?</h2>
                <p>The Soundwaves Team consists of 10 determined, productive university students. All engineers, aspiring for 
                    nothing less than greatness! With our diverse skills & experiences alongside our strong interest in music - we've 
                    come together to share our vision of how amazing sound can be! Experience The Soundwaves Baby!
                </p>
                <p><strong>Read More Below.</strong></p>
            </div>
        </div>
    </section>
    <section class="about-head">
        <div id="about-us" class="banner-container">
            <div class="banner-text">
                <h2>Our Mission.</h2>
                <p>Our aim is to provide <strong>high quality music products</strong> which will <strong>enhance the experience</strong> of our customers as they enjoy 
                    the finely tuned soundwaves from our products as they listen to their favourite musical artists, bands, group admin 
                    and everything in-between! 
                </p>
                <p>We seek to elevate any occasion - party, study session, gym class - You name it!</p>
                <p><strong>#ExperienceSound</strong></p>
            </div>
            <div class="banner-image">
                <img src="/media/headphones-about-us.jpg" alt="">
            </div>
        </div>
    </section>
    

<div id="banner">
    <div class="container" style="box-shadow: none;">
        <div class="container1">
            <div class="header2">
                <h2>Meet the team</h2>
            </div>
           
            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Navneet</div>
                <div class="role">Backend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/Navneet-Dhami" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Feysal</div>
                <div class="role">Backend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/Fabdi24" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Mohamed</div>
                <div class="role">Backend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/mohamedrilah" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Ishika</div>
                <div class="role">Backend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/lonk1883" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Billy</div>
                <div class="role">Backend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/NotLazyBill" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Alexander</div>
                <div class="role">Frontend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/210063114" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Ayub</div>
                <div class="role">Frontend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/Ayubski" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Josh</div>
                <div class="role">Frontend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/JDhillon7" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Ravjot</div>
                <div class="role">Frontend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/Rav1101" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>

            <div class="team">
                <img th:src="@{/media/aboutusblank.png}" alt="">
                <div class="name">Sufyaan</div>
                <div class="role">Frontend Developer</div>
                <div class="university">Aston University</div>
                <div>
                    <a href="https://github.com/Sufyaan-T" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                </div>
            </div>
            
            </div>
        </div>
    </div>

        <section class="carbon" style="background: url('media/carbon.jpg') no-repeat center center/cover;">
            <div class="content">
              <h2>Commiting To Carbon Negative</h2>
              <p>Soundwaves will be carbon negative by 2025 and by 2030 we will remove
                all carbon the company has emitted since it was founded.</p>
            </div>
          </section>
        </div>

        
       

</body>

<footer class="site-footer">
    <div class="fcontainer">
      <div class="row">
        <div class="fcol">
          <h6>About</h6>
          <p class="text-justify">We are a group of 10 university students who have come together to make this e-commerce website!
This website has been made for those who love music! We offer products such as
headphones, speakers and much more.</p>
        </div>

        <div class="fcol">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/aboutus}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/cart}">View Cart</a></li>
          </ul>
        </div>

        <div class="fcol">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><p>If you have any queries or any unanswered questions - please contact us on:</p></li>
            <li><strong>Phone Number:</strong> 07362837201</p></li>
            <li><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p></li>
            <li><strong>Store Address:</strong> 
Aston University, Birmingham B1</p></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>


    <div class="fcontainer">
      <div class="row">
        <div class="fcol1">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Soundwaves</a>.
          </p>
        </div>

      </div>
    </div>
</footer>
</html>