<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>About Us</title>
</head>

<body>
    <div class="about-us">
        <div class="header">
            <h1>About Us!</h1>
            <p>We are a group of 10 university students who have come together to make this e-commerce website!</p>
        </div>

        <div class="container1">
            <div class="header2">
                <h2>Meet the team</h2>
            </div>

            <div class="container2">
                <div class="team">
                    <img src="aboutusblank.jpg" alt="" style="width: 75px">
                    <div class="name">Navneet</div>
                    <div class="role">Backend Developer</div>

                    <div class="team">
                        <img src="aboutusblank.jpg" alt="" style="width: 75px">
                        <div class="name">Feysal</div>
                        <div class="role">Backend Developer</div>

                        <div class="team">
                            <img src="aboutusblank.jpg" alt="" style="width: 75px">
                            <div class="name">Mohamed</div>
                            <div class="role">Backend Developer</div>

                            <div class="team">
                                <img src="aboutusblank.jpg" alt="" style="width: 75px">
                                <div class="name">Billy</div>
                                <div class="role">Backend Developer</div>

                                <div class="team">
                                    <img src="aboutusblank.jpg" alt="" style="width: 75px">
                                    <div class="name">Ishika</div>
                                    <div class="role">Backend Developer</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container3">
            <div class="team1">
                <img src="aboutusblank.jpg" alt="" style="width: 75px">
                <div class="name">Alexander</div>
                <div class="role">Frontend Developer</div>

                <div class="team1">
                    <img src="aboutusblank.jpg" alt="" style="width: 75px">
                    <div class="name">Ayub</div>
                    <div class="role">Frontend Developer</div>

                    <div class="team1">
                        <img src="aboutusblank.jpg" alt="" style="width: 75px">
                        <div class="name">Sufyaan</div>
                        <div class="role">Frontend Developer</div>

                        <div class="team1">
                            <img src="aboutusblank.jpg" alt="" style="width: 75px">
                            <div class="name">Josh</div>
                            <div class="role">Frontend Developer</div>

                            <div class="team1">
                                <img src="aboutusblank.jpg" alt="" style="width: 75px">
                                <div class="name">Nav</div>
                                <div class="role">Frontend Developer</div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>




</body>

</html>