<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>
<body>
	<section class="nav-space">
	<nav class="navigation">
		<img class="logo" src=\media\lightLogo.png/>
		<a href="#" class="dropdown">
		  <span class="list"></span>
		  <span class="list"></span>
		  <span class="list"></span>
		  <span class="list"></span>
		</a>
		<div class="navigation-links">
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/products}">Products</a></li>
				<li><a th:href="@{/contact}">Contact us</a></li>
				<li><a th:href="@{/aboutus}">About us</a></li>
				<li>
					<div sec:authorize="isAuthenticated()"> 
						<a th:href="@{/wishlist}">Wishlist</a>
					</div>
				</li>
				<li>
					<div sec:authorize="isAuthenticated()"> 
						<a th:href="@{/cart}">Cart</a>
					</div>
				</li>
				<li>
					<div sec:authorize="isAuthenticated()"> 
						<span th:text="${cartNo}">0</span>
					</div>
				</li>
				<li>
					<div sec:authorize="isAnonymous()"> 
						<a th:href="@{/login}">Login</a>
					</div>
				</li>
                <li> 
                    <div sec:authorize="isAuthenticated()"> 
                      <a th:href="@{/userPage}">My Account</a> 
                    </div>
                </li>
				<li>
					<div sec:authorize="isAuthenticated()"> 
						<form th:action="@{/logout}" method="post"> 
							<input type="submit" value="Logout!"/>
						</form>  
					</div>
				</li>
				<li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
			</ul>
		</div>
	  </nav>
	</section>
  	
	  <div class="shop">
		<div class="box">
			<div class="nav" th:if="${not #lists.isEmpty(cart)}">
				<h2>Shopping Cart</h2>
			</div>
		  <form th:action="@{/cart/updateQuantity}" method="post" th:if="${not #lists.isEmpty(cart)}" >
			<table>
			  <thead>
				<tr>
					<br>
				  <th>Product</th>
				  <th>Price</th>
				  <th>Quantity</th>
				  <th>Subtotal</th>
				  <th>Action</th>
				</tr>
			  </thead>
			  <tbody>
				<tr th:each="item, iStat : ${cart}">
				  <td>

					
					<div class="product-info">
						<span th:text="${item.name}"></span>
						<img width=200px height=200px th:src="@{${'/media/' + item.img}}" alt="product image" />
					  </div>
				  </td>
				  <td>
					£<span th:text="${item.price}"></span>
				  </td>
				  <td>
					<input class="form-control" type="number" name="quantity" th:value="${item.quantity}" th:min="1" th:max="${item.stock > 10 ? 10 : item.stock}" />
                    <input type="hidden" name="productId" th:value="${item.id}" />

					
				  </td>
				  <td>
					£<span th:text="${item.price * item.quantity}"></span>
				  </td>
				  <td>
					<a th:href="@{/cart/rmvItems/{index}(index=${iStat.index})}" class="btn btn-outline-danger">Remove</a>
				  </td>
				</tr>
			  </tbody>		  
			</table>
			<button type="submit" class="form-control">Update Cart</button>
		  </form>
	  
		  <div class="total" th:if="${not #lists.isEmpty(cart)}">
			<h5>Total Amount:</h5>
			<span>£<span th:text="${amount}"></span></span>
		  </div>
	  
		  <div class="total" th:if="${not #lists.isEmpty(cart)}">
			<a th:href="@{/checkout}" class="btn btn-success">Checkout</a>
		  </div>
	  
		  <div class="empty-cart" th:if="${#lists.isEmpty(cart)}">
			<p>Your cart is currently empty.</p>
		  </div>
		</div>
	  </div>
	  
				
			
	
		
</body>
</html>