<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>
<body>
	<nav class="navigation">
		<div class="logo">Soundwaves</div>
		<a href="#" class="dropdown">
		  <span class="list"></span>
		  <span class="list"></span>
		  <span class="list"></span>
		  <span class="list"></span>
		</a>
		<div class="navigation-links">
		  <ul>
			<li><a th:href="@{/index}">Home</a></li>
			<li><a th:href="@{/products}">Products</a></li>
			<li><a th:href="@{/contact}">Contact us</a></li>
			<li><a th:href="@{/aboutus}">About us</a></li>
			<li><a th:href="@{/cart}">Cart</a></li>
			<li><span th:text="${cartNo}">0</span></li>
			<li>
				<div sec:authorize="isAnonymous()"> 
					<a th:href="@{/login}">Login</a>
				</div>
			<li>
				<div sec:authorize="isAuthenticated()"> 
					<form th:action="@{/logout}" method="post"> 
						<input type="submit" value="Logout!"/>
					</form>  
				</div>
			</li>
		  </ul>
		</div>
	  </nav>
  
	  <div class="nav">
	  <!-- <h1>Login</h1> -->
	  </div>
	  <i class="fa fa-sun-o" style="font-size:50px" id="darkmode"></i>

	

				</div>
				
  
		<div class="project">
			<div class="shop">
				<div class="box">
					<div class="row mb-4" th:each="items, iStat : ${cart}">												
								<img class="img-fluid w-100"
									 th:src="@{${'/media/' + items.img}}">
							<div>
								<div class="d-flex justify-content-between">
									<div>
										<h5 th:text="${items.name}"></h5>
									</div>
									<div>
										<a th:href="@{/cart/rmvItems/{index}(index=${iStat.index})}"  type="button"> Remove item </a>
									</div>
									<p class="mb-0"><span><strong>£<span th:text="${items.price}"></span></strong></span></p>
								</div>
							</div>

					</div>
				</div>
			
			</div>
	
		</div>

		<div class="total">

			<h5 class="mb-3">The total amount: </h5>

			<span>£<span th:text="${amount}"></span></span>

			<a th:href="@{/checkout}">Checkout</a>

		</div>
</body>
</html>