<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>
    <nav class="navigation">
        <div class="logo">Soundwaves</div>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/aboutus}">About us</a></li>
                <li>
                    <div sec:authorize="isAnonymous()"> 
                        <a th:href="@{/login}">Login</a>
                    </div>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <form th:action="@{/logout}" method="post"> 
                            <input type="submit" value="Logout!"/>
                        </form>  
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="contactus">
        <div class="title">
            <h1>Contact Us</h1>
        </div>

        <div class="contactform">
            <div class="credentials">
                <input type="text" class="input" placeholder="Name">
            </div>
            <div class="credentials">
                <input type="text" class="input" placeholder="Email">
            </div>
            <div class="credentials">
                <textarea class="input" cols="30" rows="10" placeholder=""></textarea>
            </div>
            <div class="button">
                Submit
            </div>
        </div>
    </div>

    <div class="container">
        <div class="info">
            <img th:src="@{/media/addresspointer.png}" alt="address" style="width: 35px"/>
            <div class="info1">Address</div>
            <div class="info2">Aston St, Birmingham B4 7ET</div>
        </div>

        <div class="info">
            <img th:src="@{/media/phoneicon.png}" alt="address" style="width: 35px"/>
            <div class="info1">Phone Number</div>
            <div class="info2">0121 204 3000</div>
        </div>

        <div class="info">
            <img th:src="@{/media/emailicon.png}" alt="address" style="width: 35px"/>
            <div class="info1">Email</div>
            <div class="info2">hello@aston.ac.uk</div>
        </div>
    </div>

    </div>
</body>











</html>
