<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>  
</head>

<body>
    <nav class="navigation">
        <div class="logo">Soundwaves</div>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/aboutus}">About us</a></li>
                <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/wishlist}">Wishlist</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/cart}">Cart</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <span th:text="${cartNo}">0</span>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()"> 
                        <a th:href="@{/login}">Login</a>
                    </div>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <form th:action="@{/logout}" method="post"> 
                            <input type="submit" value="Logout!"/>
                        </form>  
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="contactus">
        <div class="title">
            <h1>Contact Us</h1>
        </div>

    <form action="POST">
        <div class="contactform">
            <div class="credentials">
                <input type="text" class="input" placeholder="Name">
            </div>
            <div class="credentials">
                <input type="text" class="input" placeholder="Email">
            </div>
            <div class="credentials">
                <textarea class="input" cols="30" rows="10" placeholder=""></textarea>
            </div>
            <div class="button">
                Submit
            </div>
        </div>
    </form>
    </div>


    <div class="container">
        <div class="info">
            <img th:src="@{/media/addresspointer.png}" alt="address" style="width: 35px"/>
            <div class="info1">Address</div>
            <div class="info2">64 Harrington Lane</div>
        </div>

        <div class="info">
            <img th:src="@{/media/phoneicon.png}" alt="address" style="width: 35px"/>
            <div class="info1">Phone Number</div>
            <div class="info2">07362837201</div>
        </div>

        <div class="info">
            <img th:src="@{/media/emailicon.png}" alt="address" style="width: 35px"/>
            <div class="info1">Email</div>
            <div class="info2">SoundwavesLTD@hotmail.co.uk</div>
        </div>
    </div>

    </div>

    
</body>

<footer>
    <div class="footer-main">
      <h1>Soundwaves</h1>
      <p1>If you have any queries or any unanswered questions - please contact us on:</p1>
      <br> 
      <li>Phone Number: 07362837201</li>
      <br> 
      <li>Email: SoundwavesLTD@hotmail.co.uk</li>
      <br> 
      <li>Store Address: 64 Harrington Lane</li>
      <br>
      <p1>Copyright &copy; 2023 Soundwaves. Designed by Team 14.</p1>
</div>


  </footer>











</html>
