<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <title> Homepage </title>
</head>

<body>
    <nav class="navigation">
        <div class="logo">Soundwaves</div>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li> 
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/admin/adminHome}">Admin</a>
                    </div>
                </li>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/aboutus}">About us</a></li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/cart}">Cart</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <span th:text="${cartNo}">0</span>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()"> 
                        <a th:href="@{/login}">Login</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <form th:action="@{/logout}" method="post"> 
                            <input type="submit" value="Logout!"/>
                        </form>  
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="nav">
        <h1>Hey There</h1>
    </div>
    
<div class="container" style="margin-top: 30px">
<div class="row">

    <div class="col-sm-3">
        <h4>Categories</h4>
        <ul class="list-group">
            <a href="" th:each="category, iStat : ${categories}"
            th:href="@{/products/category/{id}(id=${category.id})}"><li
            class="list-group-item" th:text="${category.categoryName}"></li>
            <li><img src="" height="100px" width="100px" th:src="@{${'/media/' + category.imageUrl}}"></li></a>
        </ul>

    </div>

    
    <i class="fa fa-sun-o" style="font-size:50px" id="darkmode"></i>



</div>
</div>


</body>

<footer>
    <div class="footer-main">
      <div>
      <h3>Soundwaves</h3>
      <div>
      <div class="col">
      <p>If you have any queries or any unanswered questions - please contact us on:</p>
      <p><strong>Phone Number:</strong> 07362837201</p>
      <p><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p>
      <p><strong>Store Address:</strong> 64 Harrington Lane</p>
      </div>
      <div class="col">
        <h4>About</h4>
        <a th:href="@{/aboutus}">About Us</a>
        <a th:href="@{/contact}">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/cart}">View Cart</a>
      </div>
      <div class="col">
        <p><strong>Copyright &copy; 2023 Soundwaves.</strong> Designed by Team 14.</p>
      </div>
    </div>
    

  </footer>
  
</html>