<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <title> Homepage </title>
</head>



<body>
    
    <section class="nav-space">
        <nav class="navigation">
            <div class="logo">Soundwaves</div>
            <a href="#" class="dropdown">
                <span class="list"></span>
                <span class="list"></span>
                <span class="list"></span>
                <span class="list"></span>
            </a>
            <div class="navigation-links">
                <ul>
                    <li>
                        <div sec:authorize="isAuthenticated()"> 
                            <div sec:authorize="hasAnyAuthority('ADMIN')">
                                <a th:href="@{/admin/adminHome}">Admin</a>
                            </div>
                        </div>
                    </li>
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/contact}">Contact us</a></li>
                    <li><a th:href="@{/aboutus}">About us</a></li>
                    <li>
                        <div sec:authorize="isAuthenticated()"> 
                            <a th:href="@{/wishlist}">Wishlist</a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="isAuthenticated()"> 
                            <a th:href="@{/cart}">Cart</a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="isAuthenticated()"> 
                            <span th:text="${cartNo}">0</span>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="isAnonymous()"> 
                            <a th:href="@{/login}">Login</a>
                        </div>
                    </li>
                    <li> 
                        <div sec:authorize="isAuthenticated()"> 
                          <a th:href="@{/userPage}">My Account</a> 
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="isAuthenticated()"> 
                            <form th:action="@{/logout}" method="post"> 
                                <input type="submit" value="Logout!"/>
                            </form>  
                        </div>
                    </li>
                    <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="nav">
        <h1>Hey There</h1>
    </div>

    <div id="banner">
    <header class="showcase" style="background: url(media/HomeBackground.jpg) no-repeat center center/cover;">
        <h2>Wavy Deals</h2>
        <p>
          Select Products are on Sale Now - Buy whilst still in Stock
        </p>
        <button class="button5"><a th:href="@{/products}">Shop Now</a></button>
      </header>
    


    
<div class="container" style="margin-top: 30px">
    <div class="container2">
        <div class="nav"><h2>Categories</h2></div>
        <!-- THIS SHOWS STUFF -Bill :D -->
    <form class="search-bar" th:action="@{/search}" method="get">
        <br>
        <input type="search" class="form-control" name="keyword" th:value="${search}" placeholder="Search Here" size="50">
    </form>
    </div>
    <div class="col-sm-3">
        
        <div class="categories">
            <a href="" th:each="category, iStat : ${categories}" th:href="@{/products/category/{id}(id=${category.id})}">
              <div class="category">
                  <img src="" height="100px" width="100px" th:src="@{${'/media/' + category.imageUrl}}" />
                <p th:text="${category.categoryName}"></p>
              </div>
            </a>
          </div>
        </div>

    
</div>


<section class="carbon" style="background: url('media/carbon.jpg') no-repeat center center/cover;">
  <div class="content">
    <h2>Commiting To Carbon Negative</h2>
    <p>Soundwaves will be carbon negative by 2025 and by 2030 we will remove
      all carbon the company has emitted since it was founded.</p>
      <a th:href="@{/aboutus}" class="btn">
        Learn More
      </a>
  </div>
</section>
</div>


</body>

<footer class="site-footer">
    <div class="fcontainer">
      <div class="row">
        <div class="fcol">
          <h6>About</h6>
          <p class="text-justify">We are a group of 10 university students who have come together to make this e-commerce website!
This website has been made for those who love music! We offer products such as
headphones, speakers and much more.</p>
        </div>

        <div class="fcol">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/aboutus}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/cart}">View Cart</a></li>
          </ul>
        </div>

        <div class="fcol">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><p>If you have any queries or any unanswered questions - please contact us on:</p></li>
            <li><strong>Phone Number:</strong> 07362837201</p></li>
            <li><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p></li>
            <li><strong>Store Address:</strong> 64 Harrington Lane</p></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>


    <div class="fcontainer">
      <div class="row">
        <div class="fcol1">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Soundwaves</a>.
          </p>
        </div>

        <div class="fcol1">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-github"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  
</html>