<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
      <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
      <title>Login Page</title>

  </head>
  <body>
    <section class="nav-space">
      <nav class="navigation">
        <img class="logo" src=\media\lightLogo.png/>
          <a href="#" class="dropdown">
              <span class="list"></span>
              <span class="list"></span>
              <span class="list"></span>
              <span class="list"></span>
          </a>
          <div class="navigation-links">
              <ul>
                  <li><a th:href="@{/index}">Home</a></li>
                  <li><a th:href="@{/products}">Products</a></li>
                  <li><a th:href="@{/contact}">Contact us</a></li>
                  <li><a th:href="@{/aboutus}">About us</a></li>
                  <li><a th:href="@{/login}">Login</a></li>
                  <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
              </ul>
          </div>
      </nav>
    </section>

    <div id="banner">
<div class="container3">
      <div class="Login">
      <h1>Login Here</h1>
      
      <form th:action="@{loginUser}" method="post"> 
        <div class="email_password">
          <input type="username" name="loginEmail"  required/>
          <span></span>
          <label>Username</label>
        </div>

        <div class="email_password">
          <input type="password" name="loginPassword" required/> 
          <span></span>
          <label>Password</label>
        </div>

        <input type="submit" name="submit" value="Login"/>
        <input type="hidden" name="submitted" value="true"/>

        <div class="register">
          Don't have a login? <a th:href="@{/register}">Click here</a> to register!
        </div>

      </form>
      </div>
</div>
    </div>

  </body>

  <footer class="site-footer">
    <div class="fcontainer">
      <div class="row">
        <div class="fcol">
          <h6>About</h6>
          <p class="text-justify">We are a group of 10 university students who have come together to make this e-commerce website!
This website has been made for those who love music! We offer products such as
headphones, speakers and much more.</p>
        </div>

        <div class="fcol">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/aboutus}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/cart}">View Cart</a></li>
          </ul>
        </div>

        <div class="fcol">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><p>If you have any queries or any unanswered questions - please contact us on:</p></li>
            <li><strong>Phone Number:</strong> 07362837201</p></li>
            <li><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p></li>
            <li><strong>Store Address:</strong> 64 Harrington Lane</p></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>


    <div class="fcontainer">
      <div class="row">
        <div class="fcol1">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Soundwaves</a>.
          </p>
        </div>

        <div class="fcol1">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-github"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
</html>
