<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/Users/sufyaantanveer/frgdfg/TP2---Team-14/Soundwaves/Soundwaves/src/main/resources/static/css/styles.css"/>
        <script type="text/javascript" th:src="@{/js/script.js}" defer></script> 
        <title> Products </title>
    </head>

    <body>
        <nav class="navigation">
            <div class="logo">Soundwaves</div>
            <a href="#" class="dropdown">
                <span class="list"></span>
                <span class="list"></span>
                <span class="list"></span>
                <span class="list"></span>
            </a>
            <div class="navigation-links">
                <ul>
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/contact}">Contact us</a></li>
                    <li><a th:href="@{/user}">Login</a></li>
                </ul>
            </div>
        </nav>
        <nav class="productsTitle">
            <h1>Products</h1>
          
          <div class="sorting">
          
            <div class="price-sort">
              <label>Sort by:</label>
              <select>
                <option value="/">Featured</option>
                <option value="/">Alphabetical Order</option>
                <option value="/">Price (Lowest)</option>
                <option value="/">Price (Highest)</option>
              </select>
            </div>
          </div>
          </nav>
          
          <section class="products">
          <div class="productCard">
          <div class="productImage">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png">
          </div>
          
          <div class="productInfo">
          <h5>song</h5>
          <h6>£99.99</h6>
          </div>
          </div>
          
          <div class="productCard">
          <div class="productImage">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png">
          </div>
          
          <div class="productInfo">
          <h5>song</h5>
          <h6>£99.99</h6>
          </div>
          </div>
          
          <div class="productCard">
          <div class="productImage">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png">
          </div>
          
          <div class="productInfo">
          <h5>song</h5>
          <h6>£99.99</h6>
          </div>
          </div>
          
          <div class="productCard">
          <div class="productImage">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png">
          </div>
          
          <div class="productInfo">
          <h5>song</h5>
          <h6>£99.99</h6>
          </div>
          </div>
          
          <div class="productCard">
          <div class="productImage">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png">
          </div>
          
          <div class="productInfo">
          <h5>song</h5>
          <h6>£99.99</h6>
          </div>
          </div>
          
          </section>

</html>

