<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <title> Admin Delivered Orders </title>
</head>

<body>
  <section class="nav-space">
    <nav class="navigation">
      <img class="logo" src=\media\lightLogo.png/>
        <a href="#" class="dropdown">
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
            <span class="list"></span>
        </a>
        <div class="navigation-links">
            <ul>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <div sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{/admin/adminHome}">Admin</a>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/aboutus}">About us</a></li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/wishlist}">Wishlist</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/cart}">Cart</a>
                    </div>
                </li>
                <li style="padding-top: 15px;">
                    <div sec:authorize="isAuthenticated()"> 
                        <span th:text="${cartNo}">0</span>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()"> 
                        <a th:href="@{/login}">Login</a>
                    </div>
                </li>
                <li> 
                    <div sec:authorize="isAuthenticated()"> 
                      <a th:href="@{/userPage}">My Account</a> 
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()"> 
                        <form th:action="@{/logout}" method="post"> 
                            <input class="log-out" type="submit" value="Logout" />
                        </form>  
                    </div>
                </li>
                <li> <i class="fa fa-sun-o" style="font-size:25px" id="darkmode"></i></li>
            </ul>
        </div>
    </nav>
  </section>

    <div class="temp-container">
      
        <div class="temp-figure">
          <div class="img-cont">
            <img th:src="@{${'/media/' + product.img}}" class="figure-img img-fluid rounded" th:alt="${product.name}">
          </div>

            <!-- <div class="productName">
                <figcaption class="figure-caption text-end" th:text="${product.name}"></figcaption>
                <div class="priceTag">
                    <h4>£ <span th:text="${product.price}"></span></h4>
                   
                      <a id="adds" href="" th:href="@{/addCart/{id}(id = ${product.id})}" class="btn btn-primary add-to-cart" th:if="${product.stock > 0}">Add to Cart</a>
                      <a id="adds" href="" th:href="@{/addToWishlist/{id}(id = ${product.id})}" class="btn btn-primary">Add to Wish</a>
                    
                </div>
                <div class="viewStock">
                    <div th:if="${product.stock <= 0}" class="stock-status out-of-stock">Out of stock: Please check back in the coming
                        weeks.</div>
                    <div th:if="${product.stock > 0 and product.stock <= 10}" class="stock-status low-stock">Low stock</div>
                    <div th:if="${product.stock > 10}" class="stock-status high-stock">In stock</div>
                </div>
            </div> -->
            
        </div>
        <div class="productName">
          <div class="fig-cap">
            <figcaption class="figure-caption text-end product_view_name" th:text="${product.name}"></figcaption>
          </div>
          <br>
          <div class="product_view_stock_price">
            
              <div class="priceTag">
                  <h4>£ <span th:text="${product.price}"></span></h4>
              </div>
              <br>
              <div class="viewStock">
                <div th:if="${product.stock <= 0}" class="stock-status out-of-stock">Out of stock: Please check back in the coming
                    weeks.</div>
                <div th:if="${product.stock > 0 and product.stock <= 10}" class="stock-status low-stock">Low stock</div>
                <div th:if="${product.stock > 10}" class="stock-status high-stock">In stock</div>
            </div>
          </div>
          <br>
          <div class="pTag">
            <p class="pTagDesc" th:text="${product.description}"></p>
            <p>Rebuilt from the sound up. AirPods Pro have been reengineered for even richer audio experiences. Next-level Active Noise Cancellation and Adaptive Transparency reduce more external noise. Spatial Audio takes immersion to a remarkably personal level. Touch control now lets you adjust volume with a swipe. And a leap in power delivers 6 hours of battery life from a single charge.
              The new Apple designed H2 chip is the force behind AirPods Pro and its advanced audio performance. It works in concert with a custom built driver and amplifier to deliver crisp, clear high notes and deep, rich bass in stunning definition — so every sound is more vivid than ever.
              The brand-new H2 chip carries out more functions than ever, using computational algorithms to deliver even smarter noise cancellation, superior three-dimensional sound, and more efficient battery life — all at once.
              AirPods Pro take the listening experience to a new level of individuality. Personalized Spatial Audio with dynamic head tracking works with all your devices to immerse you deeper in all-around-you sound.
              </p>
            </div>
            <br>
            <div class="big-adds">
            <a id="adds" href="" th:href="@{/addCart/{id}(id = ${product.id})}" class="btn btn-primary add-to-cart" th:if="${product.stock > 0}">Add to Cart</a>
            <a id="adds" href="" th:href="@{/addToWishlist/{id}(id = ${product.id})}" class="btn btn-primary">Add to Wish</a>
          </div>
            <br>
            <br>
            <div class="viewProductsTable">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Rating</th>
                          <th scope="col">User</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="reviews : ${review}">
                          <td th:text="${reviews.rating}"></td>
                          <td th:text="${reviews.user.firstname}"></td>
                          <td th:text="${reviews.review}"></td>
                          <td th:text="${reviews.date}"></td>
                      </tr>
                  </tbody>
              </table>
              
              
          </div>
          <br>
            <br>
            <div class="leaveRating">
              <div sec:authorize="isAuthenticated()">
              <form th:action="@{/productView/{id}/review(id=${product.id})}" th:object="${addReview}" method="post">
                  <div>
                      <label>Star Rating:</label>
                      <input type="number" th:field="*{rating}" min="1" max="5" required>
                  </div>
                  <div>
                      <label>Review:</label>
                      <textarea th:field="*{review}" required></textarea>
                  </div>
                  <span></span>
                  <button type="submit">Submit</button>
              </form>
              </div>
              </div>
        </div>
        
        
            
              <div class="logintocomment">
                <!-- If you are not logged in this displays a clickable h1 to the login -->
        <div sec:authorize="isAnonymous()">
            <h1><a th:href="@{/login}" class="btn btn-primary">Login to comment!</a></h1>
        </div>
                <!-- If logged in you can add a review here -->
        



              
          </div>
        </div>
      <!-- <div class="leaveRating">
        <div sec:authorize="isAuthenticated()">
        <form th:action="@{/productView/{id}/review(id=${product.id})}" th:object="${addReview}" method="post">
            <div>
                <label>Star Rating:</label>
                <input type="number" th:field="*{rating}" min="1" max="5" required>
            </div>
            <div>
                <label>Review:</label>
                <textarea th:field="*{review}" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        </div>
        </div> -->
        
        
    <!-- <div class="leaveRating"> -->
        <!-- If you are not logged in this displays a clickable h1 to the login -->
<!-- <div sec:authorize="isAnonymous()">
    <h1><a th:href="@{/login}" class="btn btn-primary">Login to comment!</a></h1>
</div> -->
        <!-- If logged in you can add a review here -->
<!-- <div class="leaveRating">
    <div sec:authorize="isAuthenticated()">
    <form th:action="@{/productView/{id}/review(id=${product.id})}" th:object="${addReview}" method="post">
        <div>
            <label>Star Rating:</label>
            <input type="number" th:field="*{rating}" min="1" max="5" required>
        </div>
        <div>
            <label>Review:</label>
            <textarea th:field="*{review}" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    </div>
    </div>
    
    </div> -->
    
    </div>

</body>
<br>
<footer class="site-footer">
  <div class="fcontainer">
    <div class="row">
      <div class="fcol">
        <h6>About</h6>
        <p class="text-justify">We are a group of 10 university students who have come together to make this e-commerce website!
This website has been made for those who love music! We offer products such as
headphones, speakers and much more.</p>
      </div>

      <div class="fcol">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a th:href="@{/products}">Products</a></li>
          <li><a th:href="@{/aboutus}">About Us</a></li>
          <li><a th:href="@{/contact}">Contact Us</a></li>
          <li><a th:href="@{/login}">Login</a></li>
          <li><a th:href="@{/cart}">View Cart</a></li>
        </ul>
      </div>

      <div class="fcol">
        <h6>Contact Us</h6>
        <ul class="footer-links">
          <li><p>If you have any queries or any unanswered questions - please contact us on:</p></li>
          <li><strong>Phone Number:</strong> 07362837201</p></li>
          <li><strong>Email:</strong> SoundwavesLTD@hotmail.co.uk</p></li>
          <li><strong>Store Address:</strong> 
Aston University, Birmingham B1</p></li>
        </ul>
      </div>

    </div>
    <hr>
  </div>


  <div class="fcontainer">
    <div class="row">
      <div class="fcol1">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a href="#">Soundwaves</a>.
        </p>
      </div>

      
    </div>
  </div>
</footer>
</html>