<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <title>Registration Page</title>
  </head>

  <body>
    <nav class="navigation">
      <div class="logo">Soundwaves</div>
      <a href="#" class="dropdown">
          <span class="list"></span>
          <span class="list"></span>
          <span class="list"></span>
          <span class="list"></span>
      </a>
      <div class="navigation-links">
          <ul>
              <li><a th:href="@{/index}">Home</a></li>
              <li><a th:href="@{/products}">Products</a></li>
              <li><a th:href="@{/contact}">Contact us</a></li>
              <li><a th:href="@{/aboutus}">About us</a></li>
              <li><a th:href="@{/login}">Login</a></li>
          </ul>
      </div>
    </nav>
    <i class="fa fa-sun-o" style="font-size:50px" id="darkmode"></i>


      <div class="Register">
      <h1>Register</h1>

      <form th:action="@{/registerUser}" th:object="${user}" method="post">

          <div class="register_text">
            <input type="text" name="firstname" required/> 
            <span></span>
            <label>First Name</label>
          </div>

          <div class="register_text">
            <input type="text" name="surname" required/> 
              <span></span>
              <label>Last Name</label>
            </div>

            <div class="register_text">
              <input type="text" name="username" required/> 
              <span></span>
              <label>Username</label>
            </div>

            <div class="register_text">
              <input type="email" name="email" required/> 
              <span></span>
              <label>Email </label>
            </div>

            <div class="register_text">
              <input type="password" name="password" required/> 
              <span></span>
              <label>Password</label>
            </div>
    
            <input type="submit" name="submit" value="Register!"/>
            <div class="register">
              Already have an account? <a th:href="@{/login}">Click here</a> to login!
            </div>
        </form>
  </body>
</html>
  