<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/script.js" defer></script>
    <title>Login Page</title>

</head>
<body>
    <nav class="navigation">
      <div class="logo">Soundwaves</div>
      <a href="#" class="dropdown">
        <span class="list"></span>
        <span class="list"></span>
        <span class="list"></span>
        <span class="list"></span>
      </a>
      <div class="navigation-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="userLogin.html">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="Login">
    <h1>Login Here</h1>

    <form method="post">
        
      <div class="email_password">
        <input type="email" required>
        <span></span>
        <label>Email</label>
      </div>

      <div class="email_password">
        <input type="password" required>
        <span></span>
        <label>Password</label>
      </div>

      <input type="submit" value="Login">

      <div class="register">
        Don't have a login? <a href="userRegistration.html">Click here</a> to register!
      </div>
    </form>
    </div>
    <i class="fa fa-sun-o" style="font-size:50px" id="darkmode"></i>

</body>
</html>
